@model Book
@{
    ViewData["Title"] = "Libro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}

<h1>Nuevo Libro</h1>

<div class="card">
    <div class="card-body">
        <form asp-action="CreateBook" asp-controller="Book" method="post">
            <input asp-for="IdBook" type="hidden" />

            <div class="mb-2">
                <label class="form-label">Título</label>
                <input type="text" class="form-control form-control-sm" asp-for="Title" required/>
            </div>
            <div class="mb-2">
                <label class="form-label">Año</label>
                <input type="text" class="form-control form-control-sm" asp-for="Year" required/>
            </div>
            <div class="mb-2">
                <label class="form-label">Número de Páginas</label>
                <input type="text" class="form-control form-control-sm" asp-for="NumberOfPages" required/>
            </div>
            <div class="mb-2">
                <label class="form-label">Autor</label>
                @Html.DropDownList("IdAutor", items, "Selecciona...", new { @class="form-control form-control-sm"})
            </div>
            <button type="submit" class="btn btn-success btn-sm">Agregar Libro</button>
            <a asp-action="Index" asp-controller="Book" class="btn btn-danger btn-sm">Regresar</a>
        </form>

    </div>

</div>
